html, body {
    text-align: center;
    font-weight: 100;
    font-size: 16pt;
    text-shadow: rgba(0,0,0,0.5) 1px 1px 2px;
    padding: 0;
    margin: 0;
    cursor: default;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Nunito", "Helvetica Neue", Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

*:not(input,textarea) {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.pushy {
    padding: 10vh 0;
    font-weight: 300;
    color: #ffffff;
}

.pushy p {
    padding: 0 1vw;
    text-align: center;
}

.pushy-spacer {
    height: 30vh;
}

.pure-button {
    border-radius: 3.5vh;
    padding: 0 0.8em;
    box-shadow: 0 0 2px #000000;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px #000000;
}

.pure-menu.pure-menu-open {
    width: auto;
    float: right;
    padding-right: 10px;
}

.pure-menu button {
    text-shadow: none;
    padding-top: 10px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #292929;
}

.brand {
    font-size: 1.8rem;
    left: 2vw;
    top: 1vh;
    position: fixed;
}

.brand a {
    cursor: default;
}

.brand sup {
    font-size: 15pt;
}

.navbar {
    height: 0;
    font-weight: normal;
    text-shadow: rgba(0,0,0,0.5) 1px 1px 0px;
}

.color-select-btn {
    height: 1vh;
    width: 1vh;
}

#red-theme {
    color: #e52026;
}

#pale-theme {
    color: #853100;
}

#purple-theme {
    color: #8e44ad;
}

#gold-theme {
    color: #FFAA00;
}

.swap-btn {
    height: 7vh;
    margin-top: 3vh;
    font-size: 0.9rem;
    background-color: #292929;
    color: #ffffff;
}

.timer-container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.main-timer {
    height: 70vh;
    color: #292929;
    background-color: #ffffff;
}

.bottom-timer {
    height: 30vh;
    color: #ffffff;
    background-color: #292929;
}

.timer#cur-time {
    font-size: 2.8rem;
}

.timer#oth-time {
    font-size: 1.7rem;
}

/* /u/dylanraga's solution */
input.time-value + span.time-value {
  display: none;
}

/* /u/dylanraga's solution */
input.time-value:focus {
  color: #000000;
  border: none;
  border-bottom: 3px solid #454545;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
}

.spacebar-indicator {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 14pt;
  }
}
